.item {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 15px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 30%) 0px 5px 15px;
  border-radius: 5px;
}

.status {
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  margin: 0 5px;
  transition: transform 250ms linear 0s, box-shadow 250ms linear 0s;
}

.item:hover .avatar {
  transform: scale(1.3);
}

.name {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: left;
  font-weight: 500;
  font-size: 22px;
}